@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 5; */
    font-style: normal;
}

@theme {

    /* Brand */
    --color-primary: #F59E0B;
    --color-primary-hover: #D97706;

    /* Background */
    --color-bg: #FAFAFA;
    --color-surface: #FFFFFF;

    /* Sidebar */
    --color-sidebar: #111827;
    --color-sidebar-hover: #1F2937;
    --color-sidebar-active: #F59E0B;

    /* Text */
    --color-text: #111827;
    --color-text-secondary: #6B7280;
    --color-text-muted: #9CA3AF;

    /* Border */
    --color-border: #E5E7EB;

    /* Status */
    --color-success: #22C55E;
    --color-warning: #F59E0B;
    --color-danger: #EF4444;
    --color-info: #3B82F6;
}